<%= render :partial => 'shared/disconnect' %>
<div id="<%= dom_id player %>">
  <p>
    <strong>Login:</strong>
    <%= player.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= player.password %>
  </p>

</div>
