<h1>Edit Choice</h1>

<%= render "form", choice: @choice %>
<% @choice.answers.each do |answer|%>
<%= render "/answers/answertoedit", answer: answer %>
<% end %>

<%= render "/answers/form" %>

<div><%= link_to "Destroy Choice", choice_path(@choice), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></div>