<h1>Hello Rails</h1>

<ul style="list-style: none;">
  <% @choices.each do |choice| %>
    <li>
      <%= choice.step %> ) <a href="<%= choice_path(choice) %>">
        <%= choice.description %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Choice", new_choice_path %>