 <% if answer.description%>
        <p class="reponse">
          <%= link_to(answer.description, { action: "playGame", current_step: answer.next },
                                   method: "get",
                                 data: { current_step: answer.next })%>
           
        </p>
 <% end %>


