<div id="<%= dom_id answer %>">
  <p>
    <strong>Content:</strong>
    <%= answer.content %>
  </p>

  <p>
    <strong>Next:</strong>
    <%= answer.next %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= answer.choice_id %>
  </p>

</div>
