<h1>choose your loot</h1>
<%# <%= debug data%> %>

<% url = "/games/1/character/1/#{data.fight_next_step}"%>
<%# "/games/#{@game.id}/character/#{@currentPlayer.character_id}/1 %>

<%= link_to "prochaine étape", url %>

<%  LootAdmin.new.select_loot(1).each do |loot|%>
<%= loot.name %>
<%= image_tag loot.image%>
<% end %>