<div id="<%= dom_id step %>">
  <p>
    <strong>Choice:</strong>
    <%= step.choice_id %>
  </p>

  <p>
    <strong>Creature:</strong>
    <%= step.creature_id %>
  </p>

  <p>
    <strong>Next:</strong>
    <%= step.next %>
  </p>

</div>
