
    <div style="border: 1px solid black;display:flex;justify-content:space-around">
        <div style="background: rgba(189,137,232,0.4)">
            <h3 style="color: #eac096">choix:</h3>
          <div style="color: #0a0a0a; font-weight: bold;">
            <%= render  "choices/choice", choice: Choice.where("step_id = ?",[step.id]).first %>
          </div>
        </div>

        <div>
          <div style="display: flex; margin-top: 1em">
            <% if @game && @character && step %>
            <%= link_to "Combattre le monstre", "/games/" + @game.id.to_s + '/character/' + @character.id.to_s + "/" + step.id.to_s + "/fight/turn/0", style:"color:red; font-weight: bold; text-decoration: none; border: 1px solid black; padding: 0.2em 1em; border-radius: 0.5em; background: white"%>
            <% end %>
          </div>
          <div style="background: white; color: #944402">
            <%= render  "creatures/creature", creature: Creature.find(step.creature_id) %>
          </div>
        </div>
    </div>