<%= render @step %>

<div><%= link_to "Edit step", edit_step_path(@step) %></div>
<div><%= link_to "Destroy step", step_path(@step), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></div>
<div><%= link_to "All steps", steps_path%></div>