<div>
  <div style="position: absolute; bottom: 2em; background: #e2d5cc; padding: 0.5em 2em">
    <!-- XP -->
    <span style="color: blueviolet; font-weight: bold; font-size: 1.3em;">[XP] </span>
    <span style="font-size: 1.3em;"><%= @character.experience %></span>

    <!-- LIFE -->
    <span style="color: blueviolet; font-weight: bold; font-size: 1.3em;"><i class="fa-solid fa-heart"></i></span>
    <span style="font-size: 1.3em;"><%= @character.life %></span>
    <span style="font-size: 1.3em;">/</span>
    <span style="font-size: 1.3em;"><%= @character.total_life %></span>

    <!-- STRENGTH -->
    <span style="color: blueviolet; font-weight: bold; font-size: 1.3em;"><i class="fa-solid fa-hand-back-fist"></i></span>
    <span style="font-size: 1.3em;"><%= @character.strength %></span>

  </div>
</div>
