<div style="width: 15.8em; position: absolute; bottom: 5em; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; background: white">
  <p style="display: flex; justify-content: center"><span style="text-align: center; font-weight: bold; color: blueviolet; font-size:1.3em"><%= @creature.name %></span></p>
  <div style="display: flex; justify-content: center">
    <%= image_tag @creature.image %>
  </div>
</div>