<div style="position: absolute; right: 1%; bottom: 2em">
    <div style="width: 15em; height: 18em; box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px; background: #e2d5cc; padding: 0.5em 2em; ">
        <h2 style="text-align: center; position: relative; bottom: 0.5em">Inventaire</h2>

        <div style="display: flex; justify-content: center; position: relative; bottom: 0.5em">
            <!--      bouclier arme armure chaussure deux main-->

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white;">
                <!-- affichage conditionnel a ajouter -->

                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>
        </div>
        <div style="display: flex; justify-content: center; position: relative; bottom: 0.5em">
            <!--      bouclier arme armure chaussure deux main-->

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white;">
                <!-- affichage conditionnel a ajouter -->

                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>
        </div>
        <div style="display: flex; justify-content: center; position: relative; bottom: 0.5em">
            <!--      bouclier arme armure chaussure deux main-->

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white;">
                <!-- affichage conditionnel a ajouter -->

                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>

            <div style="display: flex; justify-content: center; align-items: center; width: 25%; height: 4em; border: 1px solid black; background: white">
                <!-- affichage conditionnel a ajouter -->
                <i class="fa-solid fa-hexagon-xmark">X</i>
            </div>
        </div>
    </div>
</div>