<h2>Mes games</h2>
<% if @entity != "player" %>
   <%= link_to "ajouter une game", new_game_path %>
<% end %>

<!-- Rejoindre une partie commencé-->
<div id="games">

    <% @games.each do |game| %>
    <p><%= link_to game.name, game_path(game) %></p>
    <% end %>
</div>

<!--  Demarer une partie -->
<% if @entity == "player"  %>
  <h4>Debuter une nouvelle partie?</h4>

  <% @notInGames.each do |game| %>
    <p><%= link_to game.name, "/games/firstjoin/" + game.id.to_s %></p>
  <% end %>
<% end %>


