<%= render :partial => 'shared/disconnect' %>
<h1>New game</h1>

<%= render "form", game: @game %>
<%= render "chapters/form", chapter: @chapter %>

<br>

<div>
  <%= link_to "Back to games", games_path %>
</div>
