<h1>Votre choix</h1>
<p><%= link_to "Creer un joueur", new_player_path %></p>
<p><%= link_to "Creer un maitre de jeux", new_gm_path %></p>
<p><%= link_to "Se connecter en tant que maitre de jeux", '/home/gm' %></p>
<p><%= link_to "Se connecter en tant que player", '/home/player' %></p>
