<h1>Editing game player</h1>

<%= render "form", game_player: @game_player %>

<br>

<div>
  <%= link_to "Show this game player", @game_player %> |
  <%= link_to "Back to game players", game_players_path %>
</div>
